.recipes-page {
  padding: 2rem;
}

.recipes-page h1 {
  color: var(--primary-color);
}

.all-recipe-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.no-results {
  text-align: start;
  color: var(--text-color);
  margin-top: 2rem;
  font-style: italic;
}
