.recipe-search__input-container {
  position: relative;
  width: 350px;
}

.recipe-search {
  display: flex;
  align-items: start;
  gap: 2rem;
}

.recipe-search input {
  padding-left: 2.5rem;
}

.recipe-search__icon {
  position: absolute;
  left: 0.8rem;
  top: 0.8rem;
  color: var(--text-color);
  opacity: 0.5;
}

.recipe-search__dropdown {
  width: 250px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  transition: border-color 0.3s, box-shadow 0.3s;
}
